# Ignore everything in root folder
/*

# Ignore Settings folder
[Aa]ssets/_[Pp]roject/[Ss]ettings

# But not these
!.gitignore
!.gitattributes
!.gitconfig
![Aa]ssets/
![Pp]roject[Ss]ettings/
![Pp]ackages/

[Pp]ackages/*
![Pp]ackages/manifest.json
![Pp]ackages/manifest_full.json

![Ss]ource[Gg]enerators/

### FMOD IGNORE

# Never ignore DLLs in the FMOD subfolder.
!/[Aa]ssets/_External/FMOD/**/lib/*

# Ignore the Cache folder since it is updated locally.
/[Aa]ssets/_External/FMOD/Cache/*
/[Aa]ssets/_External/FMOD/Cache.meta

# Ignore StreamingAssets banks.
/[Aa]ssets/[Ss]treaming[Aa]ssets/*.bank
/[Aa]ssets/[Ss]treaming[Aa]ssets/*.bank.meta

# If the source bank files are kept outside of the StreamingAssets folder then these can be ignored.
# Log files can be ignored.
fmod_editor.log
