# Ignore everything in root folder
/*

# Ignore Settings folder
[Aa]ssets/_[Pp]roject/[Ss]ettings

# But not these
!.gitignore
!.gitattributes
![Aa]ssets/
![Pp]roject[Ss]ettings/
![Pp]ackages/

[Pp]ackages/*
![Pp]ackages/manifest.json
![Pp]ackages/manifest_full.json

![Ss]ource[Gg]enerators/

### FMOD IGNORE

# Never ignore DLLs in the FMOD subfolder.
!/[Aa]ssets/_External/FMOD/Plugins/FMOD/**/lib/*

# Don't ignore images and gizmos used by FMOD in the Unity Editor.
!/[Aa]ssets/_External/FMOD/Gizmos/FMOD/*
!/[Aa]ssets/_External/FMOD/Editor Default Resources/FMOD/*

# Ignore the Cache folder since it is updated locally.
/[Aa]ssets/_External/FMOD/Plugins/FMOD/Cache/*
/[Aa]ssets/_External/FMOD/Plugins/FMOD/Cache.meta

# Ignore StreamingAssets folder.
/[Aa]ssets/[Ss]treaming[Aa]ssets
/[Aa]ssets/[Ss]treaming[Aa]ssets.meta

# If the source bank files are kept outside of the StreamingAssets folder then these can be ignored.
# Log files can be ignored.
fmod_editor.log
